* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Myriad-reg";
    src: url("../assets/fonts/MYRIADPRO-REGULAR.woff");
}

input {
    padding: 5px 10px;
    outline: none;
    border: 1px solid;
    background-color: #f4f4f4;
    border-color: #9b9b9b;
    font-family: "Myriad-reg";
}

button {
    border: none;
    font-family: "Myriad-reg";
    cursor: pointer;
}

.fade-in-section {
    opacity: 0;
    transform: scale(0.5);
    visibility: hidden;
    transition: opacity 300ms ease-out, transform 300ms ease-out,
    visibility 300ms ease-out;
    will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.mainPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-image: url("../assets/images/mainPageBackdrop.png");
    
    background-position: center;
    background-position-y: 0;
    background-attachment: fixed;
    /*background-size: contain;*/
}

.headerContainer {
    /*padding: 40px 80px 0px 80px;*/
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.headerLogoImgContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headerLogoNoTxt {
    height: 40px;
    width: 40px;
    /* In order to fix weird positioning */
    position: relative;
    right: 8px;
}

.mainContent {
    /*height: 100%;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*background-color: #fff;*/
}

.leftContent {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.leftContentInnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rocketTrail {
    position: absolute;
    left: -346px;
    top: -13px;
    height: 750px;
}

.logo-no-trail-container {
    position: relative;
    height: 200px;
}

.logo-no-trail {
    height: 100%;
}

.leftContentText {
    margin: 15px 0;
}

.cta-container {
    z-index: 2;
}

.cta-button {
    width: 150px;
    margin-right: 5px;
}


.rightContent {
    width: 50%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.phone-container {
    width: 50%;
}

.phonePng {
    width: 100%;
}

.cloudContainer {
    /*height: 320px;*/
    overflow: hidden;
    /*transform: scale(1.1);*/
}

.cloudAsset {
    position: relative;
    bottom: -28px;
    z-index: 1;
}

.latestUpdatesContainer {
    background-color: #fff;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2em;
}

.latestUpdatesContents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latestUpdatesTxt {
    margin: 15px 0;
    text-align: center;
}

.mailPng {
    height: 50px;
}

.footer {
    border: 1px solid;
    height: 120px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.legal-notices {
    display: flex;
}

.footerLinks {
    text-decoration: none;
    color: #fff;
}

.disclaimers {
    padding: 20px 150px;
    line-height: 1.5em;
    text-align: justify;
}

.disclaimers strong {
    margin: 10px 0;
    display: block;
}

.disclaimers > ul > li {
    list-style: none;
}