@font-face {
    font-family: "Myriad-reg";
    src: url("../assets/fonts/MYRIADPRO-REGULAR.woff");
}

@font-face {
    font-family: "Myriad-reg-light";
    src: url("../assets/fonts/MyriadPro-Light.woff");
}

@font-face {
    font-family: "Myriad-semi-bold";
    src: url("../assets//fonts/MYRIADPRO-SEMIBOLD.woff");
}

@font-face {
    font-family: "Myriad-semi-bold-italic";
    src: url("../assets/fonts/MYRIADPRO-SEMIBOLDIT.woff");
}

@font-face {
    font-family: "Myriad-con-italic";
    src: url("../assets/fonts/MYRIADPRO-CONDIT.woff");
}

.defaultText {
    font-size: 16px;
    font-family: "Myriad-reg";
}

.defaultTextLight {
    font-size: 16px;
    font-family: "Myriad-reg-light";
}

.defaultTextSemiBold {
    font-size: 16px;
    font-family: "Myriad-semi-bold";
}

.defaultTextSemiBoldItalic {
    font-size: 16px;
    font-family: "Myriad-semi-bold-italic";
}

.defaultTextConItalic {
    font-size: 16px;
    font-family: "Myriad-con-italic";
}

.headerText {
    font-size: 42px;
    font-family: "Myriad-semi-bold";
}

.smallText {
    font-size: 12px;
    font-family: "Myriad-reg";
}

.errorMsg {
    font-size: 16px;
    font-family: "Myriad-reg";
    color: #e74c3c;
}

@media only screen and (max-width: 400px) {
    .headerText {
        font-size: 24px;
    }
}